.container-address
        {
            margin: 3% auto;
            
            width: 30rem;
            padding:1rem 0rem;
            box-shadow: 0 4px 8px 0 rgba(146, 6, 123, 0.2);
            color: #af2174;
        }
        .container-address h1
        {
            font-size:1.4rem;
        }
        .container-address input[type=text]
        {
            display: block;
            padding:0.5rem 0.5rem;
            width: 20rem;
            margin:0.5rem 0rem;
            border: 1.5px solid  #af2174;
            color:#af2174;
        }

        .container-address button
        {
            padding:0.7rem 0.5rem;
            width: 21rem;
            display: block;
            background: linear-gradient(90deg,#e946a5,#8d0f58);
            border:none;
            outline:none;
            color:white;
        }

        .container-address button:hover 
        {
            background: linear-gradient(45deg,#e946a5, gold);
        }

        .container-address span
        {
            font-size: 1rem;
        }