*{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
}

nav
{
  display: flex; 
  justify-content: center;
  box-shadow: 0px 3px 3px 0px rgba(78, 6, 57, 0.2);
}

nav div h6
{
    color:goldenrod;
    padding: 5px 0px;
    text-decoration: goldenrod;
}

nav div 
{
     margin: 0.3rem 1.5rem;

}

nav input[type=text] 
{
    padding: 0.5rem 0.5rem;
    padding-right: 20rem;
    font-size: 1rem;
    border: 1.7px solid #e52e71;
    outline:none;
    margin-top: 1.2rem;
    border-top-left-radius:30px ;
    border-bottom-left-radius: 30px;
}

.main-logo-heading
{
    font-weight: bolder;
    font-size: 43px;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(45deg,#ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0.8rem;

}
.searchButton
{
    float: right;
    padding: 0.35rem 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    border: 1.7px solid #e52e71;
    cursor: pointer;
    margin-top: 1.2rem;
    border-radius: 25px;
    position: relative;
    left: -20px;
    background: linear-gradient(45deg,#ff8a00,#e52e71)

}

.searchButton:hover 
{
  background: linear-gradient(90deg,#ff8a00,#e52e71)
}

nav button
{
    outline:none;
    border:none;
    background-color: white;
}

 nav .profile
{
    color:  #e52e71 !important;
    font-size: 1.5rem;
    font-weight: bolder;
    outline: none;
    border:none;
    margin-top: 10px;
}


.cart-icon
{
  color:"#e52e71";
}

.cart-icon:hover{
  color: purple;
}

nav .profile:hover{
  color:pink;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -14px;
    margin-left: -10px;
    font-weight: bold;
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button
{
  font-weight: bold;
}

.dropdown-content button:hover {color:mediumvioletred;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content form button
{
    background-color: transparent;
    border:none;
    outline:none;
    
}

.collectionHeading
{
  margin-bottom: 2.5rem;
  color:indigo;
}


.promises-box
{
  display: flex;
  justify-content: center;
}

.promises-item
{
  padding:2rem 2rem;
  margin:1rem 1rem;
  width: 20rem;
  box-shadow: 4px 4px 8px 4px rgba(112, 14, 96, 0.15);margin-bottom: 2rem;
  color:mediumvioletred;
}

.promises-item:hover{
  box-shadow: 4px 4px 8px 4px rgba(206, 224, 39, 0.15);margin-bottom: 2rem;
}

.promises-item i
{
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

footer{
  display: flex;
  justify-content:space-evenly;
  padding:1rem 0rem;
  padding-top: 2rem;
  background-color:#E4729F;

}



.footer-items h6
{
  font-size: 1.2rem;
}

.footer-items ul
{
  list-style-type: none;
  
}

.footer-items li a
{
  color:black;
}

.copyrights
{
  background-color: #af2174;
  padding: 1rem 0rem;
  text-align: center;
  color:white
}

.logo-heading
{
  
  text-align: center;
  background-color:#E4729F;   
  padding:0.5rem 0rem;
}